* {
  font-family: sans-serif; 
}
body {
  display: flex;
  flex-direction: column;
  margin:0;

}
header {
  color: whitesmoke;
  font-size: 6em;
  background-color:rgb(7, 98, 189);
  text-align: center;
  font-weight: bold;
}
nav ul {
  display: flex;
  justify-content:space-between; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
li a {
  display: block;
  text-decoration: none;
  font-size: 2em;
  padding: 40px 81px;
  text-align: center;
  color:whitesmoke;  
  background-color:indigo;
  border-right: 2px solid #bbb;
}
li a:hover {
  background-color: rgb(123, 41, 182);
}
footer {
  display: flex;
  align-items: flex-end;
  background-color: indigo;
  color: whitesmoke;
}

/*Cards CSS*/

.card-row{
  display: flex;
  flex-direction:row;
  justify-content:space-around;      
}
.card:hover {
  transform: scale(1.05);
}
.card-body{
  padding:20px 10px;
  border-radius: 50%;
  border-width: 2px;
  text-align: center;
}